In [1]:
import tensorflow as tf
# 從 網址下載檔案
dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 2s 0us/step

In [0]:
# 拿到資料夾內的所有東西
import os
import glob
import pandas as pd

def read(fp):
    with open(fp, "r", encoding="utf-8") as f:
        content = f.read()
    return content

def read_data(base):
    pos = glob.glob(os.path.join(base, "pos", "*"))
    neg = glob.glob(os.path.join(base, "neg", "*"))
    df = pd.DataFrame({
        "path":(neg + pos),
        "target":([0]*len(neg) + [1] * len(pos))
    })
    df["content"] = df["path"].apply(read)
    return df

In [3]:
# 做出路徑 和 正向負向
dirname = os.path.dirname(dataset)
base = os.path.join(dirname, "aclImdb", "train")
train_df = read_data(base)
base = os.path.join(dirname, "aclImdb", "test")
test_df = read_data(base)
test_df

                                                    path  ...                                            content
0      /root/.keras/datasets/aclImdb/test/neg/9801_2.txt  ...  In the 1940s, Veronica Lake made a meteoric ri...
1      /root/.keras/datasets/aclImdb/test/neg/6813_2.txt  ...  After reading the reviews I decided to rent th...
2      /root/.keras/datasets/aclImdb/test/neg/3265_1.txt  ...  This movie is so God-awful that it was literal...
3      /root/.keras/datasets/aclImdb/test/neg/7386_4.txt  ...  Even though this is the first film by the brok...
4      /root/.keras/datasets/aclImdb/test/neg/3918_1.txt  ...  I must admit that this is one of the worst mov...
...                                                  ...  ...                                                ...
24995  /root/.keras/datasets/aclImdb/test/pos/6384_10...  ...  I saw this movie at a screener and its the bes...
24996  /root/.keras/datasets/aclImdb/test/pos/9051_8.txt  ...  This 60min film shows just how much fun filmma...
24997  /root/.keras/datasets/aclImdb/test/pos/3995_9.txt  ...  It is not surprising that this film was made b...
24998  /root/.keras/datasets/aclImdb/test/pos/12320_1...  ...  The last film of John Huston, the great Americ...
24999  /root/.keras/datasets/aclImdb/test/pos/6083_10...  ...  I watched this movie when it was released and ...

[25000 rows x 3 columns]

In [0]:
# 特徵萃取, 在這邊叫做情緒, 語意, 感受, 再把這些情緒抓出來丟到MLP裏面處理
# 情緒的抓取 給一個稱呼叫做 Embedding, 語意層, 或叫做降維 實際上是把維度降低沒錯
# 做 自然語意處理 一定要從 語意層開始, Embedding層開始
# 需要幾個情緒? 可以自己設定, 但這些情緒是網路處理的 我們並不曉得他怎麼處理
# 主題簡單點, 資料多點 可以把層次設定少點, 把重點情緒處理好就好, 反之
# 甚麼時候用RNN, RNN 有考慮詞語順序的時候需要用, 我喜歡你 你喜歡我 兩者不同時用

In [5]:
# 先把文字化成數字, keras.tokenizer, 參考：https://keras.io/zh/preprocessing/text/
# num_words= 表示要保留最長出現的字 2000, 指 留2000個最常出現的字, 出現太少的忽略不看
from keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=2000)
tok.fit_on_texts(train_df["content"])

Using TensorFlow backend.

In [6]:
# 每一個單詞的編號, tok.word_index  想看總共有多少個詞 len(tok.word_index) 
tok.word_index
len(tok.word_index)

88582

In [7]:
# 有了辭典之後, 把每一個詞做編號, 查詢文章內有沒有在2000字裏面, 有的畫編號 沒的話就 NaN
# the a 這些需要去除嗎? 在這邊不需要自己去掉這些字, 這些沒有情緒的字模型自己會判斷
# 1711 是指有 1711 個文字
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1705  1706  1707  1708  1709  1710
0        10   329     1   664    15     1  ...   NaN   NaN   NaN   NaN   NaN   NaN
1      1260    66     3    49   323  1983  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        39   325     8   628    13     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         8    48   465    37     1   204  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        35     9   514    16     3   304  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    51    11    17    35    70  1529  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996   721     1   318   455   362   113  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997     3   193    55   594     8     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    40   156    24    84   807   259  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10    40   293    11    17    15  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1711 columns]

In [8]:
# 要進去 MLP 之前須要讓每篇文章的字數相同, 要截長補短, 讓每一篇文章都等長
# pad_sequence 用來截長補短, 參考：https://keras.io/zh/preprocessing/sequence/
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=256) # 留著後面256個詞
x_test_pad = pad_sequences(x_test_seq, maxlen=256)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...   250   251   252   253  254   255
0        0    0    0    0    0    0  ...     1   307     3   386   55     6
1        0    0    0    0    0    0  ...    92   171    40   103   11    15
2        0    0    0    0    0    0  ...    10    59   178     5   64   171
3        0    0    0    0    0    0  ...    35   108    81    76    8   359
4        0    0    0    0    0    0  ...  1095     8    11    19    9     6
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...   156    18  1707   112   37    11
24996    0    0    0    0    0    0  ...  1628     9   829    29    1    93
24997  744    4    1  474   26  884  ...     7  1239    15     1  433     3
24998    7    8   11   93    1   12  ...    30     1   127  1617    6    44
24999    0    0    0    0    0    0  ...     2    84   220  1232    2  1297

[25000 rows x 256 columns]

In [9]:
# 建立模型, embedding 層, 參考:https://keras.io/zh/layers/embeddings/
# 用 Embedding 不用 one-hot encoding 是因為每一個詞有64個情緒, 數量太龐大 記憶體會爆
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Flatten, Dropout, Dense
# 2001 x 64 = 128064
layers = [
          Embedding(2001, 64, mask_zero=True, input_length=256),
          Flatten(),
          Dense(256, activation="relu"),
          Dropout(0.25),
          Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 256, 64)           128064
_________________________________________________________________
flatten (Flatten)            (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 256)               4194560
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 514
=================================================================
Total params: 4,323,138
Trainable params: 4,323,138
Non-trainable params: 0
_________________________________________________________________

In [0]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam",
              metrics=["accuracy"])

In [11]:
import numpy as np
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    EarlyStopping(patience=3, restore_best_weights=True),
]
model.fit(x_train_pad,
          np.array(train_df["target"]),
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          verbose=2,
          callbacks=callbacks)

Epoch 1/100
113/113 - 16s - loss: 0.5040 - accuracy: 0.7258 - val_loss: 0.4900 - val_accuracy: 0.7956
Epoch 2/100
113/113 - 16s - loss: 0.1971 - accuracy: 0.9249 - val_loss: 0.2593 - val_accuracy: 0.8992
Epoch 3/100
113/113 - 16s - loss: 0.0683 - accuracy: 0.9804 - val_loss: 0.4798 - val_accuracy: 0.8468
Epoch 4/100
113/113 - 16s - loss: 0.0169 - accuracy: 0.9971 - val_loss: 0.5683 - val_accuracy: 0.8528
Epoch 5/100
113/113 - 16s - loss: 0.0044 - accuracy: 0.9997 - val_loss: 0.7691 - val_accuracy: 0.8320

In [12]:
model.evaluate(x_test_pad, np.array(test_df["target"]))

782/782 [==============================] - 7s 9ms/step - loss: 0.3446 - accuracy: 0.8544

[0.3446117043495178, 0.8544399738311768]

In [13]:
layers = [
    # 2001 * 64 = 128064
    Embedding(2001, 64, mask_zero=True),
]
embedding = Sequential(layers)
w = model.layers[0].get_weights()
embedding.set_weights(w)
embedding.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, None, 64)          128064
=================================================================
Total params: 128,064
Trainable params: 128,064
Non-trainable params: 0
_________________________________________________________________

In [15]:
embedding.predict([[1]])

array([[[-0.0155118 , -0.01720083, -0.02188269,  0.00527329,
          0.01717185,  0.04228817, -0.05409688, -0.02523252,
         -0.01259623, -0.04082564, -0.00567704, -0.03231493,
         -0.00970468, -0.01241356, -0.03685471, -0.01961153,
          0.04686145, -0.0355569 , -0.01060206, -0.00315309,
          0.01362496,  0.00563901,  0.03217668,  0.03585608,
          0.02489576,  0.00068147, -0.01886745,  0.02582631,
          0.02811526,  0.0298035 ,  0.00256527, -0.00081967,
          0.0373548 ,  0.00407304, -0.01343081, -0.0329613 ,
          0.0361218 , -0.00468786, -0.01092474,  0.00211485,
          0.02396392,  0.01818199,  0.02201795,  0.00268368,
         -0.00094266,  0.00832434, -0.02074759,  0.04161689,
         -0.00768312, -0.02774745, -0.00125114, -0.01779847,
          0.03328711, -0.02386405, -0.00368635,  0.00324198,
          0.01176075,  0.03640414,  0.00313145,  0.0070021 ,
         -0.03290614,  0.00567974, -0.0377869 , -0.05194284]]],
      dtype=float32)

In [0]:
# NLP資料: https://github.com/Elwing-Chou/ML0423/tree/master/NLP
# 目前最多使用的兩種遷移學習模型, BERT:做出分數, GPT2:預測下一個東西
# talk to transformer : https://talktotransformer.com/
# faasttext 參考：https://fasttext.cc/docs/en/crawl-vectors.html 有已經訓練好的語言